/* ================================================================================================================== */
/* Профиль участника. */
/* ================================================================================================================== */

/* ======================================================================================= */
/* Фотографии участников. */
/* ======================================================================================= */
/* Контейнер фотографий участников. */
.profile-photos {
    padding-top: 49px;
    display: flex;
    justify-content: space-between;
}

/* Разделение фотографий на две секции. */
.profile_0_section, .profile_1_section {
    width: 49%;
}