/* ================================================================================================================== */
/* Глобальный файл стилей для всего сайта. Применяется на все страницах за некоторыми небольшими исключениями. */
/* ================================================================================================================== */

/* ================================================================================================================== */
/* Свои шрифты. */
/* ================================================================================================================== */
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans.ttf);
}

@font-face {
    font-family: OpenSansBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSansItalic;
    src: url(fonts/OpenSans-Italic.ttf);
}

/* ================================================================================================================== */
/* Шаблоны классов. */
/* ================================================================================================================== */
/* Стандартные отступы у блоков. */
.block-padding {
    padding: 1em 1em;
}
.block-padding-small {
    padding: 0.7em 0.7em;
}

/* VK блеклые ссылки */
.vk-link {
    text-decoration: none;
}
.vk-link:hover {
    text-decoration: underline;
}

/* Черные ссылки */
.black-link {
    color: #333;
    text-decoration: none;
}
.black-link:hover {
    text-decoration: underline;
}

/* Стандартная тень у блока. */
.block-border-shadow {
    border-radius: 3px;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(1, 1, 1, 0.09);
}

/* ================================================================================================================== */
/* Обнуление стилей и свои настройки по умолчанию. */
/* ================================================================================================================== */
body {
    padding: 0;
    margin: 0;
    background: #EDF0ED;
    font-family: OpenSans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #333;
}

/* ================================================================================================================== */
/* Ширина сайта. */
/* ================================================================================================================== */
.content-wrapper {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}