/* ================================================================================================================== */
/* Всплывающее окно просмотра фотографий. */
/* ================================================================================================================== */

/* Цвет заднего фона фотографии. */
.mfp-figure {
    min-width: 600px;
    background: #fff;
}
.mfp-figure img.mfp-img {
    padding: 0;
}
.mfp-figure:after {content: none; }

/** Контейнер данных Magnific Popup. */
.mfp-bottom-bar {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

/* Контейнер данных фотографии. */
.photo-watcher-data-container {
    width: 600px;
    background: #fff;
    margin: 50px auto 50px;
    line-height: normal;
    border-radius: 3px;
}

/* Внутренности контейнера данных фотографии. */
.photo-watcher-data {
    position: relative;
    padding: 0.7em;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Окно ошибки в случае, если фотография была удалена, либо ее не существует. */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Контейнер ошибки. */
.no-photo-modal {
    background: #ffd3cd;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 200%;
    color: #ff5b47;
    width: 750px;
    border-radius: 3px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Значок загрузки фотографии в развернутом виде и сама фотография. */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Контейнер значка загрузки фотографии. */
.photo-watcher .loading-spinner {
    height: 300px;
}

/* Значок загрузки фотографии. */
.photo-watcher .loading-spinner div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 500%;
}

/* Цвет значка в зависимости от категории фотографии. */
.photo-watcher .loading-spinner.cat-0 div {
   color: #00AC35;
}
.photo-watcher .loading-spinner.cat-1 div {
    color: #ff5b47;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Шапка контейнера данных фотографии (Аватар, назавние фотографии и блок голосования). */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Сам контейнер-шапка. */
.pwd-header {
    min-height: 52px;
}

/* ВКонтакте виджет голосования за фотографию. */
.pwd-vote-container {
    position: absolute;
    right: 0.7em;
    top: 0.7em;
    width: 51px;
    height: 51px;
}

/* Аватара участника. */
.pwd-author-avatar {
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0.7em;
    top: 0.7em;
}

/* Контейнер с названием фотографии и именем участника. */
.pwd-title-author-container {
    margin: 0 60px;
}

/* Заголовок фотографии. */
.pwd-title-author-container h2 {
    font-size: 135%;
    margin: 2px 0 2px;
}

/* Заголовок автора при отсутствии заголовка фотографии. */
.pwd-title-author-container h2.author a {
    color: #333;
    text-decoration: none;
}
.pwd-title-author-container h2.author a:hover {
    text-decoration: underline;
}

/* Имя автора в случае, когда есть заголовок фотографии + дата публикации фотографии. */
.pwd-author-date {
    font-size: 95%;
    text-decoration: none;
    color: #939393;
}
.pwd-author-date a {
    text-decoration: none;
    color: #939393;
}
.pwd-author-date a:hover {
    text-decoration: underline;
}


/* Виджет голосования за фотографию. */
.pwd-vote-container.cat-0 {
    filter: hue-rotate(-74deg) saturate(200%) brightness(100%);
}
.pwd-vote-container.cat-1 {
    filter: hue-rotate(-215deg) saturate(200%) brightness(100%);
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Действия администраторов. */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Контейнер действий. */
.pwd-admin-actions {
    width: 300px;
    background: #f3f3f3;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-around;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Описание фотографии (если есть). */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Сам контейнер описания. */
.pwd-description {
    margin: 0 60px;
}
.pwd-description {
    text-align: justify;
}

/* Отделение шапки от описание. */
.pwd-description hr {
    height: 1px;
    background: #e7e7e7;
    border: none;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Google Maps карта (если есть). */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Контейнер карты. */
.pwd-map {
    height: 400px;
    margin-top: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ВКонтакте комментарии к фотографии. */
/* ------------------------------------------------------------------------------------------------------------------ */

/* Контейнер комментариев. */
.pwd-comments {
    margin-top: 10px;
}